SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

POSTGRES_HOST=db
POSTGRES_DB=p2pmon
POSTGRES_USER=p2pmon
POSTGRES_PASSWORD=p2pmon
REDIS_URL=redis://redis:6379/0

FIELD_ENCRYPTION_KEY=K7gNU3sdo-OL0wNhqoVWhr3g6s1xYv72ol_pe_UnGGY=
TIME_ZONE=Europe/Moscow
SYNC_OVERLAP_DAYS=7
